* {
  font-family: "Catamaran", sans-serif;
}

.scoreboard-wrapper {
  display: block;
}

.scoreboard-container {
  width: 100%;
  /* margin-bottom: 1rem; */
}

.scoreboard-inner {
  border: 2px solid #1a202c;
  margin: 16px;
  padding: 10px;
  border-radius: 8px;
}

.search-wrapper {
  margin: 12px 0px;
  padding-left: 16px;
}

.search {
  border: 2px solid #1a202c;
  width: 100%;
}

@media (min-width: 768px) {
  .scoreboard-wrapper {
    display: flex;
    flex-flow: wrap;
  }
  .scoreboard-container {
    /* margin: 1rem; */
    width: 33.333%;
    /* padding: 10px; */
  }
  .search {
    margin: 0 auto;
    display: block;
    min-width: 400px;
    width: inherit;
  }
  .search-wrapper {
    margin: 0;
    padding-left: 0;
  }
}

/* Light theme styles */
.scoreboard-container {
  color: #1a202c; /* Dark text for light theme */
  border-color: #1a202c; /* Dark text for light theme */
  border-radius: 0.25rem;
}

.search {
  color: #1a202c; /* Dark text for light theme */
  border-color: #585959; /* Dark text for light theme */
}

/* Dark theme styles */
html.dark .scoreboard-container {
  /*background-color: #2d3748; /* Darker background for dark theme */
  color: #fafafa; /* Lighter text for dark theme */
}

html.dark .scoreboard-inner {
  border-color: #fafafa;
}

html.dark .search {
  /*background-color: #2d3748; /* Darker background for dark theme */
  color: #fafafa; /* Lighter text for dark theme */
  border-color: #fafafa;
}
